<!-- main -->
<div class="main-w3layouts wrapper">
  <h1>Creative SignUp Form</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="#" method="post"  #signUp="ngForm" (ngSubmit)="onSubmitData(signUp.value)">
        <input class="text" type="text" name="Username" placeholder="Username" required="" name="name"  ngModel>
        <input class="text email" type="email" name="email" placeholder="Email" required="" name="Email" ngModel >
        <input class="text" type="password" name="password" placeholder="Password" required="" name="password" ngModel>
        <!--<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">-->
        <div class="wthree-text">
          <label class="anim">
            <input type="checkbox" class="checkbox" required="">
            <span>I Agree To The Terms & Conditions</span>
          </label>
          <div class="clear"> </div>
        </div>
        <input type="submit" value="SIGNUP">
      </form>
      <p>Don't have an Account? <a routerLink="/login"> Login Now!</a></p>
    </div>
  </div>
  </div>


