<p>Add Product</p>

<form class="add-form" #AddProduct="ngForm" (ngSubmit)="addproduct(AddProduct)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" ngModel required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="avatar" ngModel required></textarea>
  </div>
  <div class="form-group">
    <label for="dropdown">Select Category:</label>
    <select id="categoryId" name="categoryId" [(ngModel)]="selectedItem">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let item of category" [value]="item.id">{{ item.name }}</option>
    </select>
  </div>
  <button type="submit">Add Product</button>
</form>
